In [2]:
import pandas as pd

In [18]:
df_cmaes = pd.read_csv('meticas_cmaes.csv')
df_de = pd.read_csv('meticas_de.csv')
df_sade = pd.read_csv('meticas_sade.csv')

In [19]:
df_cmaes

   metrics_sst2  metrics_imdb
0      0.897133      0.826488
1      0.752768      0.368324
2      0.897133      0.822967
3      0.873977      0.792866
4      0.898305      0.826862

In [20]:
df_sade

   metrics_sst2  metrics_imdb
0      0.897479      0.824311
1      0.680851      0.458015
2      0.888099      0.820513
3      0.891608      0.831779
4      0.901695      0.826436

In [21]:
df_cmaes.min(), df_cmaes.max(), df_cmaes.mean(), df_cmaes.std()

(metrics_sst2    0.752768
 metrics_imdb    0.368324
 dtype: float64,
 metrics_sst2    0.898305
 metrics_imdb    0.826862
 dtype: float64,
 metrics_sst2    0.863863
 metrics_imdb    0.727501
 dtype: float64,
 metrics_sst2    0.062938
 metrics_imdb    0.201287
 dtype: float64)

In [22]:
df_de.min(), df_de.max(), df_de.mean(), df_de.std()

(metrics_sst2    0.279221
 metrics_imdb    0.004870
 dtype: float64,
 metrics_sst2    0.898451
 metrics_imdb    0.825548
 dtype: float64,
 metrics_sst2    0.707663
 metrics_imdb    0.592649
 dtype: float64,
 metrics_sst2    0.270830
 metrics_imdb    0.357444
 dtype: float64)

In [23]:
df_sade.min(), df_sade.max(), df_sade.mean(), df_sade.std()

(metrics_sst2    0.680851
 metrics_imdb    0.458015
 dtype: float64,
 metrics_sst2    0.901695
 metrics_imdb    0.831779
 dtype: float64,
 metrics_sst2    0.851947
 metrics_imdb    0.752211
 dtype: float64,
 metrics_sst2    0.095789
 metrics_imdb    0.164511
 dtype: float64)

In [9]:
df_cmaes.max()

metrics_sst2    0.901173
metrics_imdb    0.880952
dtype: float64

In [10]:
# df_de.max()

In [11]:
df_sade.max()

metrics_sst2    0.912409
metrics_imdb    0.883721
dtype: float64

In [12]:
df_cmaes.min()

metrics_sst2    0.004566
metrics_imdb    0.000000
dtype: float64

In [13]:
# df_de.min()

In [14]:
df_sade.min()

metrics_sst2    0.847222
metrics_imdb    0.824943
dtype: float64